name: CI
on:
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Julia ${{ matrix.version }}
    runs-on: [self-hosted,titan,gpu]
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.9'
          - '1.10'
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
      - name: Fix TransmuteDims
        run: julia --project=@. --color=yes -e 'using Pkg; Pkg.add("CUDA#4.4.1")'
        run: julia --project=@. --color=yes -e 'using Pkg; Pkg.add("MKL#0.4.2")'
        run: julia --project=@. --color=yes -e 'using Pkg; Pkg.add(name="TransmuteDims", rev="strided2")'
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        env:
          JULIA_NUM_THREADS: 4
      - uses: julia-actions/julia-processcoverage@v1
      # - uses: codecov/codecov-action@v1
      #   with:
      #     file: lcov.info
      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info